// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-brand: #12100e;
$secondary-brand: #f0edee;
$third-brand: #e78887;
$fourth-brand: #6f2e7c;
$fifth-brand: #0d6059;
$sixth-brand: #Fe7b72;

$darkgrey-brand: #484848;
$grey-brand: #767676;
$white-brand: #ffffff;
