// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-brand: #006D77;
$secondary-brand: #83C5BE;
$third-brand: #E29578;

$darkgrey-brand: #484848;
$grey-brand: #767676;
$white-brand: #FFFFFF;
