// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green:#0d6059;
$light-green: #b2d3a8;
$gray: #0E0000;
$light-gray: #F4F4F4;

$primary-brand: #12100e;
$secondary-brand: #f0edee;
$third-brand: #E8A27A;
$fourth-brand: #ca4a00;
$fifth-brand: #0d6059;



$darkgrey-brand: #484848;
$grey-brand: #767676;
$white-brand: #ffffff;
