<h1 style="margin-left: 10px;"><strong>Dates</strong></h1>

<%# <div class="card-product ">
  <div class="card-product-infos"> %>
    <%# <div class="match-card">
            <div class="match-card">
              <div class="card-product">
                  <img src="https://res.cloudinary.com/dxjcsnwea/image/upload/v1678805290/Kaffeien_ot0zsu.jpg" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2> Coffee @ Kaffeine </h2>
                       <p> 21.00 </p2>
                  </div>
                      <%# <div class=flex">
                    <p>18th March</p>
                  </div> %>
                  <%# <div class="turn-btn-2">
                  <p> Confirmed </p>
                  </div>
            </div>
            <div class="match-card">
              <div class="card-product">
                  <img src="https://pyxis.nymag.com/v1/imgs/d5d/42e/8343ec956761f3c95875c1f112f06955f2-zoe-kravitz.jpg" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2>Zoe</h2>
                  </div>
                    <div class="pending-btn">
                      <p> Pending </p>
                    </div>
              </div>
            </div>
            <div class="match-card">
              <div class="card-product">
                  <img src="https://images.ctfassets.net/4cd45et68cgf/22Uip8ybYYyH1DhvOpDErQ/41c0dfbd280a3f205e3ea655db3a92f8/Pamela_Anderson.jpg?w=2560" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2>Pamela</h2>
                  </div>
                    <div class="turn-btn-2">
                      <p> Confirmed </p>
                    </div>
              </div>
            </div>
</div> %>

  <h1 style="margin-left: 10px; margin-top: 50px;">Upcoming</h1>
  <div class="horizontal-scroll">

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>
  </div>

  <h1 style="margin-left: 10px; margin-top: 10px;">Pending</h1>
  <div class="horizontal-scroll">

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>
  </div>
