<h1 style="margin-left: 20px;"><strong>Dates</strong></h1>


  <h1 style="margin-left: 20px; margin-top: 20px;">Upcoming</h1>
  <div class="horizontal-scroll">

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>
  </div>

  <h1 style="margin-left: 20px; margin-top: 10px;">Pending</h1>
  <div class="horizontal-scroll">

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>

      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>Coffee @ Kaffeiene</h2>
            <p>9pm</p>
            <p>March 29th</p>
          </div>
          <h2 class="card-trip-pricing">Sophie</h2>
          <img src="https://images.squarespace-cdn.com/content/v1/53b599ebe4b08a2784696956/1405717490488-C7ZXWKWZF4I8UJNME653/CEOportrait_0101.jpg" class="card-trip-user avatar-bordered-2" />
        </div>
      </div>
  </div>
