<h1><strong>Dates</strong></h1>

<%# <div class="card-product ">
  <div class="card-product-infos"> %>
    <div class="match-card">
            <div class="match-card">
              <div class="card-product">
                  <img src="https://res.cloudinary.com/dxjcsnwea/image/upload/v1678805290/Kaffeien_ot0zsu.jpg" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2> Coffee @ Kaffeine </h2>
                       <p> 21.00 </p2>
                  </div>
                      <%# <div class=flex">
                    <p>18th March</p>
                  </div> %>
                  <div class="turn-btn-2">
                  <p> Confirmed </p>
                  </div>

            </div>
            <div class="match-card">
              <div class="card-product">
                  <img src="https://pyxis.nymag.com/v1/imgs/d5d/42e/8343ec956761f3c95875c1f112f06955f2-zoe-kravitz.jpg" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2>Zoe</h2>
                  </div>
                    <div class="pending-btn">
                      <p> Pending </p>
                    </div>
              </div>
            </div>
            <div class="match-card">
              <div class="card-product">
                  <img src="https://images.ctfassets.net/4cd45et68cgf/22Uip8ybYYyH1DhvOpDErQ/41c0dfbd280a3f205e3ea655db3a92f8/Pamela_Anderson.jpg?w=2560" class="avatar-bordered">
                  <div class="card-product-infos">
                    <h2>Pamela</h2>
                  </div>
                    <div class="turn-btn-2">
                      <p> Confirmed </p>
                    </div>
              </div>
            </div>
</div>
