  <div class="flex card-show card-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/Profilepic1.jpg'); background-size: cover">

    </div>
    <div class="card-prompt card-text-prompt d-flex flex-column justify-content-center align-items-start">
      <h1 class="prompt-question">First Date Preferences:</h1>
      <h4 class="prompt-answer">Coding, Mini-golf, Drinks</h4>
    </div>

    <div class="flex card-show card-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/Profilepic2.jpg'); background-size: cover">

    </div>
        <div class="card-prompt card-text-prompt d-flex flex-column justify-content-center align-items-start">
        <p class="prompt-question">My biggest ick...</p>
        <h4 class="prompt-answer">Men who don't read the docs</h4>
        </div>
    <div class="flex card-show card-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/Profilepic3.jpg'); background-size: cover">

  </div>



