<body>
  <div style="height: 90px"></div>
    <div class="img__profile">
      <%= image_tag "Profilepic1.jpg" %>
      <div class="name"><%= current_user.first_name %>'s Profile</div>
    </div>
    <main>
      <div class="options">
        <div class="option">
          <label class="option-label">Location</label>
          <div class="toggle active"></div>
        </div>
        <div class="option">
          <label class="option-label">Calendar Integration</label>
          <div class="toggle active"></div>
        </div>
      </div>
      <div class="bubble-container" data-controller="interests" data-action="click->interests#toggle">
        <div class="bubble active">Coffee</div>
        <div class="bubble active">Drinks</div>
        <button class="bubble">Dinner</button>
        <div class="bubble">Movie</div>
        <div class="bubble">Concert</div>
        <div class="bubble">Hiking</div>
        <div class="bubble">Museum</div>
        <div class="bubble">Art Gallery</div>
        <div class="bubble">Beach</div>
        <div class="bubble">Picnic</div>
        <div class="bubble">Escape Room</div>
        <div class="bubble">Karaoke</div>
        <div class="bubble">Arcade</div>
        <div class="bubble">Bowling</div>
        <div class="bubble">Sporting Event</div>
      </div>
      
      <div class="location-calender-toggles">
        <div class="toggle-switch">
            <label class="toggle">
              <span class="onoff">Location</span>
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </main>
        </div>

        <div class="toggle-switch">
            <label class="toggle">
              <span class="onoff">Calendar</span>
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </main>
        </div>
      </div>

    <script src="toggle.js"></script>
  </body>
</html>



