<div class="footer">
    <%=link_to browse_index_path do %>
      <%# <i class="fa-house" ></i> %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to matches_path do=%>
      <i class="fa-regular fa-comment"></i></i>
    <% end %>
    <%# <%=link_to "Bye", destroy_user_session_path, data: {turbo_method: :delete} %>
    <i class="fa-regular fa-calendar fa-xl"></i>
    <%# <i class="fa-regular fa-circle-user fa-xl"></i> %>
    <img class="avatar" alt="avatar" src="https://media.licdn.com/dms/image/C4D03AQGfaZCKuh-C3w/profile-displayphoto-shrink_800_800/0/1608214212198?e=2147483647&v=beta&t=eNQKh8QiehqH8wAhp66KLh7RJ0JchHTP6LTtJtG06Ss" />

</div>
