<div class="footer">
    <%= link_to "home", browse_index_path %>
    <%= link_to "messages", matches_path %>
    <%= link_to "profile", "#" %>
    <%= link_to "X", destroy_user_session_path, data: {turbo_method: :delete} %>
</div>
