
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid-index">
    <%= image_tag "logotest2.png" %>

<%# <i type="button" class="fa-regular fa-face-meh-blank"></i> %>
  </div>
</div>
