<%#
<div class="topbar">
  <div class="container-fluid-index">
    <div style="margin-top:12px"><%= image_tag "logotest2.png" %>
    <%# </div> %>

<%# <i type="button" class="fa-regular fa-face-meh-blank"></i> %>
  <%# </div> %>
<%# </div> %>
