
<div class="container"><h1>Good afternoon, <%= "#{current_user.first_name}" %> </h1></div>

<div class="flex card card-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
<p><%= User.first.first_name %></p>
</div>

<div class="card-actions">
<span><i class="fa fa-heart fa-2x"></i> </span>
<span><i class="fa fa-times-circle fa-2x"></i> </span>
</div>
