.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.button-left {
  display: flex;
  justify-content: center;
  align-items: left;
  position: relative;
  z-index: 10;
  // margin-left: 16px !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-primary:hover{
  background-color: $fourth-brand !important;
}

.btn:hover{
  background-color: $fourth-brand !important;
}

.btn-primary:active{
  background-color: $fourth-brand !important;
}

.btn:active{
  background-color: $fourth-brand !important;
}

.btn{
  border-color: transparent !important;
  text-decoration: none;
}
