
// .flex {
//   display: flex;
// }


a{
  text-decoration: none;
}

.profile-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  line-height: 22px;
}


.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-index {
  width: 90%;
  height: 700px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  margin: 5px 5px 5px 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.text-index-job{
  color:white;
  font-size: 18px;
  margin-right: 50px;
  // padding-top: 600px;
  // padding-left: 25px;
}

.card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.card-content {
  padding: 24px;
  background-color: #F8F9FA;
  height: 150px;
}

.card-text{
  color: white;
  font-size: 20px;
  padding-top: 400px;
  padding-left: 25px;
}

.card-actions {
  position: absolute;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  // padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  // bottom: 0;
  // width: 100%;
  top: 714px;
  left: 150px;
}

#actions-show{
position: sticky;
bottom: 90px;
width: 100%;
display: flex;
justify-content: center;
}
#actions-show-index {
  position: fixed;
  top: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1; /* Make sure it appears above other content */
  opacity: 1;
}

.card-actions-index {
  position: relative; /* Change to relative positioning */
  background-color: transparent;
  color: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; /* Center horizontally */
  max-width: 800px; /* Set a max width to avoid stretching across the page */
}

.card-show {
  width: 90%;
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  margin: 5px 5px 5px 20px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-prompt {
  width: 90%;
  height: 200px;
  overflow: hidden;
  position: relative;
  background-color: #ffffffe5;
  border-radius: 30px;
  padding: 20px;
  margin: 5px 5px 5px 20px;
  // box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.header{
  font-size: 60px;
  font-weight: 50px;
  margin-left: 30px;
}
.profile-header-index{
  font-size: 40px;
  font-weight: 30px;
  // margin-left: 10px;
  color:white;
}

.card-text-prompt{
  font-size: 20px;
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
}
.prompt-question{
  color: $third-brand;
  font-size: 24px;
}
.prompt-answer{
  color: $darkgrey-brand;
  font-size: 30px;
  margin: 0px;
}
.card-text-prompt-answer{
  font-size: 20px;
  font-weight: lighter;
  color: $grey-brand;
  display: flex;
  align-items: center;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
  height: 120px;
  display: flex;
  align-items: center;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-times-circle{
  color: $primary-brand;
  opacity: 0.8;
}

.fa-heart{
  color: $primary-brand;
  opacity: 0.8;
}
.fa-heart:hover{
  color: red ;
  opacity: 0.6;
 }
.fa-times-circle:hover{
  color: $third-brand;
  opacity: 1;
}

.fa-circle-xmark{
  margin: 20px 5px 15px 20px;
  color: $grey-brand;
  opacity: 0.4;
}
.fa-circle-xmark:hover{
  margin: 20px 5px 15px 20px;
  color: $grey-brand;
  opacity: 1;
}


.card-product {
  overflow: hidden;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.card-product img {
  height: 80%;
  width: 80px;
  object-fit: cover;
  margin: 8px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.card-product .card-product-infos {
  padding: 16px;
}


.btn-primary {
    background-color: $fourth-brand;
    color: #fff;
  }
