.date-card {
  overflow: hidden;
  width: 256px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 32px;
}

.date-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.date-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.date-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.date-card .date-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.date-card-button .date-card-button {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
