.footer {
  background: $secondary-brand;
  height: 50px;
  width: 100%;
  padding: 20px;
  color: $primary-brand;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer a {
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  color: $primary-brand;
}

.footer a:hover {
  color: $fourth-brand;
  font-weight: bold;
  size: 20px;
}
