.message-container {
    clear: both;
    margin-bottom: 10px;
    // overflow-y: scroll;
  }
  
  .message-container.sent {
    float: right;
    background-color: $secondary-brand;
    border-radius: 5%;
    padding: 5px 10px;
  }
  
  .message-container.received {
    float: left;
    background-color: $white-brand;
    border-radius: 5%;
    padding: 5px 10px;
  }

//   .message-form {
//     position: static;
//   }


  
.messages {
overflow: auto;
height: 88vh;
}