.message-container {
    clear: both;
    margin-bottom: 10px;
    // overflow-y: scroll;
    border-radius: 100px;

  }

  .message-container.sent {
    float: right;
    background-color: #eae6e6;
    color: #2a2828;
    padding: 8px 16px;
    margin-bottom: 8px;
    margin-top: 10px;
  }

  .message-container.received {
    float: left;
    background-color: $white-brand;
    color: #2a2828;
    border: 2px;
    border-radius: 32px;
    padding: 8px 16px;
    border-style: solid;
    border-color: #eae6e6;
  }

//   .message-form {
//     position: static;
//   }

.messages {
overflow: auto;
height: 610px;
margin-bottom: 12px;
}

.turn-btn {
  margin: 0 16px 60px auto;
  background-color: $fourth-brand;
  border-radius: 16px;
  padding: 2px 12px;
  min-width: fit-content;
}

.turn-btn p {
  color: white;
  margin: 0;
}
.pending-btn {
  margin: 0 16px 60px auto;
  background-color: lightgray;
  color: white;
  border-radius: 16px;
  padding: 2px 12px;
}

.turn-btn-2 {
  margin: 0 16px 60px auto;
  background-color: $fourth-brand;
  border-radius: 16px;
  color: white;
  padding: 2px 12px;
}

.turn-btn-2 p {
  color: white;
  margin: 0;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.matcheduser-name{
  color: $darkgrey-brand;
  font-size: 30px;
  font-weight: 30px;
}

.fa-chevron-left{
  color: $fourth-brand;
}

.message-form .form-control{
    display: block;
    width: 98%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0E0000;
    /* background-color: #F4F4F4; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 20px;
}

.top-section {
  display: flex;
  align-items: center;
  // margin-bottom: -20px;
}

.text-start-1 {
  text-align: left !important;
  margin: 30px;
}
