.message-container {
    clear: both;
    margin-bottom: 10px;
    // overflow-y: scroll;
    border-radius: 100px;

  }

  .message-container.sent {
    float: right;
    background-color: $third-brand;
    color: white;
    padding: 5px 10px;
  }

  .message-container.received {
    float: left;
    background-color: $light-gray;
    border-radius: 5%;
    padding: 5px 10px;
  }

//   .message-form {
//     position: static;
//   }

.messages {
overflow: auto;
height: 640px;
margin-bottom: 12px;
}

.turn-btn {
  margin: 0 16px 60px auto;
  background-color: $fourth-brand;
  border-radius: 16px;
  padding: 2px 12px;
}

.turn-btn p {
  color: white;
  margin: 0;
}
