// This file overrides the pre-built bootstrap modal styling

.modal-dialog{
  margin-top:20%;
  margin-left:8%;
  margin-right:8%;
}

.modal-backdrop.show {
  opacity: .8 !important;
}

.modal-header{
  border-bottom: none !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  text-align: center !important;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
}

.modal-header h1{
  font-weight: bold;
  color: $primary-brand;
}


.modal-title h1{
  font-weight: bold;
  color: $primary-brand;
  }

.light-header h1{
  font-weight: bold;
  color: $white-brand;
}


.modal-content{
  border-radius:24px !important;
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.5));
  background-color: $white-brand;
}

.modal-style {
  border-radius:24px !important;
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.5));
  border: none;
  background-color: transparent !important;

}


// .modal-content .modal-content-1 {
//   border-radius:24px !important;
//   filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.5));
//   border: none;
//   background-color: transparent !important;
//   opacity: .2;
// }


.modal-body{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.modal-footer{
  justify-content: space-evenly !important;
  border-top: none !important;
  padding: 16px;
}

.rounded-corners{
  border-radius: 8px;
}

.match-photos{
  width: 294.57px;
  height: 403.51px;
  left: 30px;
  top: 62px;
}

.swipee-photo{
  position: absolute;
  width: 160px;
  height: 240px;
  left: 55px;
  top: 160px;
  border-radius: 12px;
  border: solid 1px rgb(214, 214, 214);
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
  transform: rotate(-10deg);
}

.swiper-photo{
  position: absolute;
  width: 160px;
  height: 240px;
  left: 153px;
  top: 50px;
  border-radius: 12px;
  border: solid 1px rgb(214, 214, 214);
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
  transform: rotate(10deg);
}

.swiper-heart{
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  left: 158px;
  top: 21px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.07));
  transform: rotate(10deg);
  opacity: 1 !important;
  color: $sixth-brand;
}

.swipee-heart{
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  left: 22px;
  top: 156px;
  transform: rotate(-10deg);
  opacity: 1 !important;
}

.keep-swiping{
  padding:18px;
  width: 282px;
  color: white;
  background-color: $fourth-brand;
  border: none !important;
}

.keep-swiping:hover{
  background-color: $fourth-brand !important;
  color:white;
}

.keep-swiping h5{
  margin: 0px;
}

.modal-scrollable{
  overflow-y: scroll;
  height: 400px;
}

.lds-hourglass {
  display: inline-block;
  // position: relative;
  width: 240px;
  height: 240px;
  margin: 30px 30px 50px 30px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 240;
  height: 240px;
  margin: 20px;
  box-sizing: border-box;
  border: 32px solid $fourth-brand;
  border-color: $fourth-brand transparent #df7575 transparent;
  animation: lds-hourglass 2s 8;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.modal-buttons-display{
  // border: $fourth-brand 1px solid;
  padding: 8px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 0 px rgba(0,0,0,0.6);
}

.modal-buttons-display h2{
  color: $darkgrey-brand;
  font-weight: bold;
  padding-left: 16px;
}

.modal-buttons-display p{
  padding: 0px 16px;
  margin-bottom: 0px;
  color: $grey-brand;
}

.dice-position {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.fa-dice {
  color: $fifth-brand;
}

.fa-lightbulb {
  color: $fifth-brand;
}
