// This file overrides the pre-built bootstrap modal styling

.modal-dialog{
  margin-top:20%;
  margin-left:8%;
  margin-right:8%;
}

.modal-header{
  border-bottom: none !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
  text-align: center !important;
  padding-top: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

.modal-header h1{
  font-weight: bold;
}

.modal-content{
  border-radius:24px !important;
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.5));
}

.modal-body{
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.modal-footer{
  justify-content: space-evenly !important;
  border-top: none !important;
  padding: 32px;
}

.rounded-corners{
  border-radius: 8px;
}

.match-photos{
  width: 294.57px;
  height: 403.51px;
  left: 30px;
  top: 62px;
}

.swipee-photo{
  position: absolute;
  width: 160px;
  height: 240px;
  left: 55px;
  top: 160px;
  border-radius: 12px;
  border: solid 1px rgb(214, 214, 214);
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
  transform: rotate(-10deg);
}

.swiper-photo{
  position: absolute;
  width: 160px;
  height: 240px;
  left: 153px;
  top: 50px;
  border-radius: 12px;
  border: solid 1px rgb(214, 214, 214);
  filter: drop-shadow(0px 25px 25px rgba(0, 0, 0, 0.15));
  transform: rotate(10deg);
}

.swiper-heart{
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  left: 158px;
  top: 21px;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.07));
  transform: rotate(10deg);
  opacity: 1 !important;
  color: brown;
}

.swipee-heart{
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 60px;
  left: 22px;
  top: 156px;
  transform: rotate(-10deg);
  opacity: 1 !important;
}

.keep-swiping{
  padding:18px;
  width: 282px;
  color: white;
  background-color: brown;
  border: none !important;
}

.keep-swiping:hover{
  background-color: $third-brand !important;
}

.keep-swiping h5{
  margin: 0px;
}

.modal-scrollable{
  overflow-y: scroll;
  height: 200px;
}

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }
// .loadingeffect1 {
//   border: 16px solid $third-brand; /* Light grey */
//   border-top: 16px solid $primary-brand; /* Blue */
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear 2;
// }
// // .loadingeffect2 {
//   border: 16px solid #f3f3f3; /* Light grey */
//   border-top: 16px solid green; /* Blue */
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear 2;
// }
// .loadingeffect3 {
//   border: 16px solid #f3f3f3; /* Light grey */
//   border-top: 16px solid red; /* Blue */
//   border-radius: 50%;
//   width: 120px;
//   height: 120px;
//   animation: spin 2s linear 2;
// }
// .new-text {
//   position: fixed;
//   top: 220px; /* adjust this value to position the text as desired */
//   left: 50%;
//   transform: translateX(-50%);
// }
.lds-hourglass {
  display: inline-block;
  // position: relative;
  width: 240px;
  height: 240px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 240;
  height: 240px;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid $fourth-brand;
  border-color: $fourth-brand transparent #df7575 transparent;
  animation: lds-hourglass 1s 6;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
