.navbar-lewagon {
  justify-content: center;
  background: $white-brand;
  height:40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container-fluid-index{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
  z-index: 9;
  img{
  width:100px;
  transform: translateY(-20px);
  }
}
