.profile-buttons-container {
    display: flex;
    flex-direction: column;
  }

  .profile-button {
    display: block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
  }